strong{
    color: #f00111;
}
.press {
    color: transparent;
    background-color : black;
    text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
    -moz-background-clip: text;
    -webkit-background-clip : text;
    -o-background-clip: text;
    -ms-background-clip:text;
    background-clip:text;
}
* {
    margin: 0;
    padding: 0;
}
.search-box {
    height: 33px;
    width: 496px;
    border-radius: 2px;
    border: 1px solid #ccc;
    text-indent: 1em;
    font-family: "微软雅黑";
    font-size: 13px;
}
.ui-autocomplete {
    font-size: .7em;
}